.site-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.wellcome-forkApp {
  background: url("../img/wellcome-background.png") no-repeat;
  background-size: cover;
  text-align: center;
}

.downloading {
  text-align: center;
}

.features {
  background-color: #f4f4f4;
}

.features h2 {
  display: inline-block;
  padding-bottom: 600px;
  text-align: center;
  width: 55%;
  background: url("../img/editor_background.png") no-repeat;
  background-position: right 30px top 100px;
  overflow: hidden;
}

.features__list {
  display: inline-block;
  width: 40%;
}

.social {
  padding-bottom: 35px;
  text-align: center;
}

.about-fork {
  padding-top: 100px;
  background: url("../img/about-fork-background1.png") no-repeat;
  background-size: cover
}