.site-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.wellcome-forkApp {
  background: url("../img/wellcome-background.png") no-repeat;
  background-size: cover;
  text-align: center;
}

.downloading {
  text-align: center;
}

.features {
  background-color: #f4f4f4;
}